<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="b07 project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07Project">
        <activity
            android:name=".view.child.ThirdTechniqueHelperActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.SecondTechniqueHelperActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.PefEntryActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.RescueDecisionActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.TechniqueHelperActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ControllerMedicineInputActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.DoseCheckActivity"
            android:exported="false" /> <!-- ========= LOGIN FLOW ========= -->
        <activity
            android:name=".view.login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.AskChildAgeActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.AskLoginSignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.AskUsertypeActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.SignupActivity"
            android:exported="false" /> <!-- App Entry -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ========= CHILD DASHBOARD FLOW ========= -->
        <activity
            android:name=".view.child.ChildBadgeActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ChildCheckinInputActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ChildDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ChildSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.LogChildMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.LogChildRescueActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.LogChildSymptomActivity"
            android:exported="false" /> <!-- ========= PARENT DASHBOARD ========= -->
        <activity
            android:name=".view.parent.ParentDashboardActivity"
            android:exported="false" />
    </application>

</manifest>