<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="b07 project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07Project">
        <activity
            android:name=".view.child.ThirdTechniqueHelperActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.SecondTechniqueHelperActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.PefEntryActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.RescueDecisionActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.TechniqueHelperActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ControllerMedicineInputActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.DoseCheckActivity"
            android:exported="false" />
        <!-- ========= LOGIN FLOW ========= -->
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.AskChildAgeActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.AskLoginSignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.AskUsertypeActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.SignupActivity"
            android:exported="false" /> <!-- App Entry -->
        <activity
            android:name=".view.login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- ========= CHILD DASHBOARD FLOW ========= -->
        <activity
            android:name=".view.child.ChildOnboardingPage1Activity" />
        <activity
            android:name=".view.child.ChildOnboardingPage2Activity" />
        <activity
            android:name=".view.child.ChildOnboardingPage3Activity" />
        <activity
            android:name=".view.child.ChildOnboardingPage4Activity" />
        <activity
            android:name=".view.child.ChildBadgeActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ChildCheckinInputActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ChildDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.ChildSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.LogChildMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.LogChildRescueActivity"
            android:exported="false" />
        <activity
            android:name=".view.child.LogChildSymptomActivity"
            android:exported="false" />
        <!-- ========= PARENT DASHBOARD ========= -->
        <activity
            android:name=".view.parent.ParentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.parent.AddActionPlan"
            android:exported="false" />
        <activity
            android:name=".view.parent.ChooseChildActivity"
            android:exported="false" />
        <activity
            android:name=".view.parent.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.parent.InventoryListActivity"
            android:exported="false" />
        <activity
            android:name=".view.parent.ManageChildActivity"
            android:exported="false" />
        <activity
            android:name=".view.parent.InviteProviderActivity"
            android:exported="false" />
        <activity
            android:name=".view.parent.IncidentLogActivity"
            android:exported="false" />
        <activity
            android:name=".view.parent.NotificationsActivity"
            android:exported="false" />
        <activity android:name=".view.parent.ParentOnboardingPage1Activity" />
        <activity android:name=".view.parent.ParentOnboardingPage2Activity" />
        <activity android:name=".view.parent.ParentOnboardingPage3Activity" />
        <activity android:name=".view.parent.ParentOnboardingPage4Activity" />

        <!-- ========= PARENT DASHBOARD ========= -->
        <activity
            android:name=".view.provider.ProviderDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.provider.ChildReportActivity"
            android:exported="false" />
        <activity
            android:name=".view.provider.ProviderReportActivity"
            android:exported="false" />
        <activity
            android:name=".view.provider.ProviderInstruction1Activity" />
        <activity
            android:name=".view.provider.ProviderInstruction2Activity" />
        <activity
            android:name=".view.provider.ProviderInstruction3Activity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- ========= API Tester ========= -->
        <activity
            android:name=".TestAPIActivity"
            android:exported="true" />
    </application>

</manifest>
